@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */ */

@layer base {
  * {
     border: border-gray-300;
  }

  body {
     font: font-sans antialiased bg-gray-100 text-gray-900;
  }
}

.scrollbar-hidden {
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none; /* Internet Explorer 10+ */
 }
 
 .scrollbar-hidden::-webkit-scrollbar {
   display: none; /* Safari and Chrome */
 }