# Node.js
node_modules/
# exclude all node_modules folders
**/node_modules 
npm-debug.log
yarn-error.log
.venv/
# Logs
logs/
*.log
*.log.*

# Dependency directories
jspm_packages/
bower_components/

# Build directories
dist/
build/

# Environment variables
.env
**/.env*
# Exclude all env files with a dot in the name
config
setting.yaml
# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db
accounts.json